@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideInFromTop {
    from {
        position: relative;
        top: -40em;
    }

    to {
        position: relative;
        top: 0em;
    }
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes wobble {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}