@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideInFromTop {
    from {
        position: relative;
        top: -40em;
    }

    to {
        position: relative;
        top: 0em;
    }
}