@mixin button {
  color: rgb(10, 10, 10);
  text-decoration: none;
  background-color: var(--primary-color);
  border-radius: 8px;
  margin: 0.2rem;
  padding: 0 0.8em;
  border: 1px solid transparent;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  height: 2.5em;
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  &:hover {
    background-color: var(--primary-variant-much-brighter);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--primary-variant-much-brighter);
    cursor: not-allowed;
  }

  div,
  span {
    font-family: "Roboto", sans-serif;
  }
}

button,
.btn,
.darkmode .btn {
  @include button;
}

.darkmode .btn-outlined,
.btn-outlined {
  @include button;

  & {
    background-color: transparent;
    color: var(--primary-variant-darker);
    border: 0.1rem solid var(--primary-variant-darker);
  }

  &:visited {
    color: var(--primary-variant-darker);
  }

  &:hover {
    background-color: var(--primary-variant-much-brighter);
  }

  &:disabled {
    background-color: var(--background-inputfeld);
    border-color: #bbbbbb;
    color: #bbbbbb;
  }
}

.darkmode .btn-text,
.btn-text {
  @include button;

  & {
    background-color: transparent;
    color: var(--primary-variant-darker);
    box-shadow: none;
  }

  &:hover {
    background-color: var(--primary-variant-much-brighter);
  }

  &:visited {
    color: var(--primary-variant-darker);
  }
}

.darkmode .btn-icon,
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--primary-variant-much-brighter);
  color: var(--font-color);
  box-sizing: border-box;

  &:hover {
    background-color: var(--background-variant-darker);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--background-inputfeld);
    cursor: not-allowed;
  }

  &:visited {
    color: var(--font-color);
  }
}
