:root {
  --helligkeit: 50%;
  --hsl-color: 195, 74.9%;
  --primary-color: hsl(var(--hsl-color), var(--helligkeit));
  --primary-variant-darker: hsl(var(--hsl-color), calc(var(--helligkeit) - 20%));
  --primary-variant-brighter: hsl(var(--hsl-color), calc(var(--helligkeit) + 20%));
  --primary-variant-much-brighter: hsl(var(--hsl-color), calc(var(--helligkeit) + 25%));
  --body: rgb(252, 252, 252);
  --hintergrund: rgb(240, 240, 240);
  --schrift: rgb(10, 10, 10);
  --hintergrund-inputfeld: hsl(var(--hsl-color), calc(var(--helligkeit) + 45%));
  --hintergrund-variant: hsl(var(--hsl-color), calc(var(--helligkeit) + 45%));
  --hintergrund-variant-darker: hsl(var(--hsl-color), calc(var(--helligkeit) + 35%));
}

.darkmode {
  --primary-variant-darker: hsl(var(--hsl-color), calc(var(--helligkeit) + 25%));
  --primary-variant-much-brighter: hsl(var(--hsl-color), calc(var(--helligkeit) - 20%));
  --body: rgb(18, 19, 24);
  --hintergrund: rgb(27, 30, 38);
  --schrift: rgb(238, 238, 238);
  --hintergrund-inputfeld: hsl(var(--hsl-color), calc(var(--helligkeit) - 45%));
  --hintergrund-variant: hsl(var(--hsl-color), calc(var(--helligkeit) - 38%));
  --hintergrund-variant-darker: hsl(var(--hsl-color), calc(var(--helligkeit) - 45%));
}