@use "farben";
@use "fonts";
@use 'inputs';
@use 'buttons';
@use 'animations';

/*#region basics*/
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--body);
  scrollbar-color: var(--primary-variant-much-brighter) transparent;
  text-wrap: pretty;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  color: var(--schrift);
}

h1 {
  color: var(--primary-variant-darker);
  font-size: clamp(1.5rem, 5vw, 2rem);
  width: 100%;
  text-align: center;
}

h2,
h3 {
  color: var(--primary-variant-darker);
}

.darkmode a {
  color: rgb(183, 189, 255);
}

.darkmode .rot,
.rot {
  color: red;
}

.variantColor {
  color: var(--primary-variant-darker);
}

/*#endregion*/
/*#region Tabelle*/
table {
  border-collapse: collapse;
  margin-top: 25px;
  font-size: clamp(0.8rem, 4vw, 1rem);
  border-radius: 10px;
  background-color: var(--hintergrund);
}

table thead tr {
  background-color: transparent;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

th {
  color: var(--primary-variant-darker);
}

tbody tr:nth-of-type(even) {
  background-color: var(--hintergrund-variant-darker);
}

/*#endregion*/
/*#region section*/
section {
  display: flex;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectiondiv {
  box-sizing: border-box;
  width: 100%;
  max-width: 80em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}

.borderdiv {
  border: 1px solid #dadce0;
  background-color: var(--hintergrund);
  border-radius: 8px;
}

.darkmode .borderdiv {
  border: 1px solid var(--primary-color);
}

section:first-of-type .sectiondiv {
  margin-top: 6vh;
}

@media only screen and (max-width: 700px) {
  .sectiondiv {
    padding: 0.8em;
  }

  section {
    padding: 0 2%;
  }
}

/*#endregion*/
/*#region images*/
img {
  max-width: 100%;
}

.imageZoomBox {
  overflow: hidden;
  display: flex;
  justify-content: center;

  img:hover {
    transform: scale(1.1);
  }

  img {
    transition: all 0.3s linear;
    animation: grow 500ms;
  }
}

/*#endregion*/